<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Number</th>
        <th scope="col">Model</th>
        <th scope="col">Color</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${carList}">
        <h1>
            <td th:text="${car.getNumber()}">VALUE/>
            <td th:text="${car.getModel()}">VALUE/>
            <td th:text="${car.getColor()}">VALUE</p></td>
        </h1>
    </tr>
    </tbody>
</table>


</body>
</html>